body {
    background-color: #fffaf5;
}

#arch {
    margin: 0 auto;
    display: block;
    max-width:100%;
    max-height:700px;
    aspect-ratio: 0.72;
}

#arch {
    min-height:600px;
}

#arch img {
    width: 100%;
}
