@font-face {
  font-family: "BlackMango";
  src: url('fonts/BlackMango-Regular.otf') format('opentype'),url('fonts/BlackMango-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT_Commons_Pro";
  src: url('fonts/TT_Commons_Pro_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #fffaf5;
  font-family: "TT_Commons_Pro", "Arial Unicode MS", "Lucida Sans Unicode", "DejaVu Sans", "Quivira", "Symbola", "Code2000";
}

h1 {
  color: #808b97;
  margin-left: 20px;
  text-align: center;
  font-family: "BlackMango";
}

@media only screen and (min-width:900px) {
    body {
        display:flex;
    }
    
    #arch {
        float: left;
        max-width:40%;
    }

    #content {
    }
    
    #separator {
        display: none;
    }
    
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
}

@media only screen and (max-width:899px) {
    #arch {
        margin: 0 auto;
        display: block;
        max-width:100%;
        max-height:700px;
        aspect-ratio: 0.72;
    }
    
    #separator {
        width: 60%;
        border-top: 2px solid #072a49;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.center {
  text-align: center !important;
  margin: 0 auto;
  display: block;
}

.vertical-container {
  width: 94%;
  position: relative;
}

#content {
    margin-left:20px;
    margin-right:42px;
}

#arch {
    min-height:600px;
}

#arch img {
    width: 100%;
}

#div-gifts, #div-photos {
}

.toggle-group {
    position: absolute;
    right: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    float:right;
    display: flex;
    align-items: center;
    padding: 5px;
    width:140px;
    height:30px;
    margin-left: auto;
    z-index: 2;
}

.toggle-group button {
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
}

.back-button {
    position: absolute;
    left: 50px;
    float:left;
    align-items: center;
    padding: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
    border: 1px solid #ccc;
    border-radius: 10px;
    width:140px;
    height:30px;
}

.language-icon {
    width:100%;
    height:100%;
    border-radius:8px;
}

.language-icon:hover {
    box-shadow: 0 0 2px 1px #4448;
}

